<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>To Do List</title>
</head>
<body>
    <div class="container">
        <h1>Your to-do list</h1><br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/add" method="post">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Task Name : </label><br><br>
                <textarea name="task" class="form-control" placeholder="Add a new task..." id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>    
            <br>
        <button type="submit" class="btn btn-outline-success">Add task</button>
        </form>
        {% if todo %}
        <br><br><h2>Tasks:</h2><br><br>
        <ul class="list-group">
            {% for each in todo %}
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div>
                    
                    {% if each.done %}
                    <span style="text-decoration: line-through; color: gray;">
                        {{ loop.index }}. {{ each.content }}
                    </span>
                    {% else %}
                    <span>
                        {{ loop.index }}. {{ each.content }}
                    </span>
                    {% endif %}
                </div>

                <div class="d-flex">
                    <form action="{{ url_for('toggle', task_id = loop.index - 1  )}}" method="post">
                        <button type="submit" class="btn btn-sm {% if each.done %}btn-success{% else %}btn-outline-warning{% endif %}">
                            {% if each.done %}✓{% else %}📍{% endif %}
                        </button>
                    </form>
                    <a href="{{ url_for('delete', task_id=loop.index - 1) }}" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="text-center">No tasks yet! Add one above.</p>
        {% endif %}
    </div>
</body>
</html>